.authItem {
  display: flex;
  align-items: center;
}

.placeholder {
  display: inline-block;
  width: 120px;
  height: 32px;
}

:global(.navbar__items--right) {
  gap: 0.5rem;
}

:global(.navbar__items--right) > :last-child {
  padding-right: 0;
}
